li {
    list-style-type: none;
    width: 292px;
    max-width: 120%;
    max-height: 100%;
}


body,html    {
    background-image: url(alpaka.jpg);
height: 100%;
width: 100%;
}
.outerbox {
    height: 150%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarbox {
height: 300px;
width: 300px;
}
.avatarbox img{
    max-width: 300px;
    max-height: 300px;
}
.dataitem {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.databox input{
    width: 100%;
    width: 292px;
}
.databox {
    width: 300px;
    max-width: 300px;
}
.databox label{
    word-wrap: break-word;
}
#high {
    width: 292px;
}

.databox > div{
    margin-top: 16px;
}

.zahnradbox img{
    width: 20px;
    height: 20px;
}

.zahnradbox{
    height: 20px;
    width: 20px;
}
.innerbox{
    background-color: white;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}